$sidemenuWidth:250px;
$sidemenuBG:#000;
$navbarHeight:80px;
$primaryColor:#4338ca;
$secondaryColor:#818cf8;

html,body{
    margin:0;
    padding:0;
    overflow-x:hidden;
}

body{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.link_pill_divider {
    border-left:1px solid #e2e8f0; 
    border-right:1px solid #e2e8f0; 
    height:100%;
    
}

.title_divider {
    border-left:1px solid #e2e8f0;
    border-right:1px solid #e2e8f0; 
    height:100%;
    display: none;
}

.content_pills_wrapper{
    height:50px;

    .link_pill_divider{
        height: 50px;
    }
}

.link_pill{
    align-self: center; 
    border-radius: 6px;
    border:thin solid #e6e6e6;
    min-width:100px;
    background: #fff;
    text-align: center;
    padding:6px 12px;
    color:#4a4a4a;
    text-decoration: none;

    &.active,&:hover{
        background: #4338ca;
        color:#fff;
    }
}

.btn-primary{
    background: $primaryColor;
}

.field_title{
    background: #c7d2fe;
    border-radius: 6px;
    width: 100%;
    font-weight: bold;
}

.field_value{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.field_value,.field_title{
    padding:6px 12px;
}

.sidemenu{
    position: fixed;
    left:0;
    top:0;
    width:$sidemenuWidth;
    background: $sidemenuBG;
    min-height: 100vh;
    padding:24px 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .sidemenu_header{
        color:#fff;
        font-weight: bold;
        font-size:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:25px;
    }

    .sidemenu_body{
        overflow-y: auto;
    }

    .link{
        text-decoration: none;
        margin:10px;
        padding:0 10px;
        height:50px;
        display: flex;
        align-items: center;
        font-size: 18px;
        color:#6b7280;
        border-radius: 6px;

        &.active,&:hover{
            background:rgba(255,255,255,.15);
            color:#fff;
        }

    }

}

.navbar_dropdown_select_wrapper{
   
}

.sidemenu_dropdown_select_wrapper{
    padding:0 10px;
    margin-bottom: 10px;      
}

nav{
    position: fixed;
    left:$sidemenuWidth;
    padding-right:calc($sidemenuWidth + 12px);
    top:0;
    height:$navbarHeight;
    background: #fff;
    z-index: 1002;
    width:100%;
    padding-left:12px;
    display: flex;
    align-items: center;
    border-bottom: thin solid #e6e6e6;
}

main{
    margin-top:calc($navbarHeight);
    margin-left:calc($sidemenuWidth);
    overflow-x:auto;
    min-height: calc(100vh - $navbarHeight - 24px);
}

.card-title{
    margin:0 !important;
    font-size: 20px;
    font-weight: bold;
}

.card-body{
    font-size: 16px;
}

.main_search_wrapper{
    padding:0 10px;

    .main_search_input{
        background: rgba(255,255,255,.10);
        border:0;
        font-size: 18px;
        transition: all .3s ease;

        &:focus{
            background: #fff;
            color: #000;
        }
    }
}

.dashboard_count_card{
    height:100px;
    border:2px solid #e2e8f0;
    border-left:6px solid $secondaryColor;
    border-radius: 6px;
    //padding:8px 16px;

    .label{
        font-size:16px;
        font-weight: normal;
        color: #1e293b;
    }

    .count{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 34px;
    }
    
    .label,.count{
        text-align: center;
    }
}