html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #0f172a;
  font-size: 16px;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
}

.text-primary {
  color: #818cf8 !important;
}

.bg-secondary {
  background: #4338ca !important;
}

.bg-danger, .btn-danger {
  border-color: crimson !important;
  background: crimson !important;
}

.btn-success {
  border-color: #10b981 !important;
  background: #10b981 !important;
}

.text-secondary {
  color: #818cf8 !important;
}

.text-danger {
  color: crimson !important;
}

.btn-close {
  color: #fff !important;
}

.link_pill_divider {
  border-left: 1px solid #e2e8f0;
  border-right: 1px solid #e2e8f0;
  height: 100%;
}

.card {
  background: rgba(255, 255, 255, 0.05);
}

.card-header {
  background: rgba(255, 255, 255, 0.05) !important;
  color: #fff;
}

.card-body {
  color: #fff;
}

.title_divider {
  border-left: 1px solid #e2e8f0;
  border-right: 1px solid #e2e8f0;
  height: 100%;
  display: none;
}

.content_pills_wrapper {
  height: 50px;
}
.content_pills_wrapper .link_pill_divider {
  height: 50px;
}

.link_pill {
  align-self: center;
  border-radius: 6px;
  min-width: 100px;
  background: #fff;
  text-align: center;
  padding: 6px 12px;
  color: #4a4a4a;
  text-decoration: none;
}
.link_pill.active, .link_pill:hover {
  background: #4338ca;
  color: #fff;
}

.btn-primary {
  background: #4338ca;
  border-color: #4338ca !important;
  outline: none;
}

.field_title {
  background: #312e81;
  border-radius: 6px;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.field_value {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.records_table th {
  white-space: nowrap;
}
.records_table th:nth-child(n+2) {
  min-width: 200px;
}
.records_table td {
  padding: 0.5rem 0.5rem;
}

.field_value,
.field_title {
  padding: 6px 12px;
}

[data-lookup_wrapper] li {
  background: none;
}
[data-lookup_wrapper] li:hover {
  background: rgba(255, 255, 255, 0.1);
}
[data-lookup_wrapper] a {
  color: #fff !important;
  background: none !important;
}

.modal .modal-content {
  left: 125px;
  background: #0f172a;
}
.modal .modal-content * {
  color: #fff;
}
.modal .modal-content .modal-header,
.modal .modal-content .modal-footer {
  border: 0;
}
.modal .modal-content .form-control,
.modal .modal-content .form-select {
  background: #222f3e;
  border-color: #222f3e;
}
.modal .modal-content .form-control:focus,
.modal .modal-content .form-select:focus {
  color: #fff;
}
.modal .modal-content input:-webkit-autofill,
.modal .modal-content input:-webkit-autofill:hover,
.modal .modal-content input:-webkit-autofill:focus,
.modal .modal-content input:-webkit-autofill:active {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

table td {
  color: #fff;
}

.sidemenu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background: #0f172a;
  border-right: thin solid #1e293b;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.sidemenu .sidemenu_header {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020617;
  height: 80px;
}
.sidemenu .sidemenu_body {
  overflow: auto;
  scrollbar-color: #818cf8 #000;
  scrollbar-width: thin;
  height: 100%;
  padding: 0 0 104px 0;
}
.sidemenu .link {
  text-decoration: none;
  margin: 10px;
  padding: 0 10px;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #6b7280;
  border-radius: 2px;
  border-left: 4px solid transparent;
}
.sidemenu .link.active, .sidemenu .link:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-color: #818cf8;
}

.turbo-progress-bar {
  background: #818cf8 !important;
}

.dropdown_select_wrapper {
  padding: 0 10px;
  margin-bottom: 10px;
}
.dropdown_select_wrapper li:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #818cf8;
}
.dropdown_select_wrapper li:hover a.dropdown-item {
  color: #fff;
}
.dropdown_select_wrapper .dropdown .btn:focus {
  box-shadow: none;
}
.dropdown_select_wrapper .dropdown .btn.show .bi-chevron-up {
  display: block !important;
}
.dropdown_select_wrapper .dropdown .btn.show .bi-chevron-down {
  display: none !important;
}
.dropdown_select_wrapper button,
.dropdown_select_wrapper .dropdown-menu {
  background-color: #020617 !important;
  color: #fff !important;
  border-color: #4338ca !important;
}
.dropdown_select_wrapper button li a:hover,
.dropdown_select_wrapper .dropdown-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.dropdown_select_wrapper button a,
.dropdown_select_wrapper .dropdown-menu a {
  color: #fff !important;
}

nav {
  position: fixed;
  left: 250px;
  padding-right: 262px;
  top: 0;
  height: 80px;
  background: #020617;
  z-index: 1002;
  width: 100%;
  padding-left: 12px;
  display: flex;
  align-items: center;
  color: #fff;
}

main {
  margin-top: 80px;
  margin-left: 250px;
  overflow-x: hidden;
  min-height: calc(100vh - 80px - 24px);
  padding-bottom: 80px;
}

.card-title {
  margin: 0 !important;
  font-size: 20px;
  font-weight: bold;
}

.card-body {
  font-size: 18px;
}

.main_search_wrapper {
  padding: 0 10px;
}
.main_search_wrapper .main_search_input {
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  font-size: 18px;
  transition: all 0.3s ease;
}
.main_search_wrapper .main_search_input:focus {
  background: #fff;
  color: #000;
}

.dashboard_count_card {
  height: 100px;
  border: thin solid rgba(255, 255, 255, 0.1);
  border-left: 6px solid #818cf8;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
}
.dashboard_count_card .label {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}
.dashboard_count_card .count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  color: #818cf8;
}
.dashboard_count_card .label,
.dashboard_count_card .count {
  text-align: center;
}

.empty_state_wrapper {
  min-height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #818cf8;
}

[data-form_group] .border-danger {
  border-color: #818cf8 !important;
}
[data-form_group] .text-danger {
  color: #818cf8 !important;
}

.breadcrumb-item {
  white-space: nowrap;
  font-size: 18px;
}
.breadcrumb-item a {
  color: #818cf8;
  text-decoration: none;
}

.add_field_btn {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  height: 80px;
  font-size: 20px;
}
.add_field_btn:hover {
  color: #818cf8;
}

.nav-tabs {
  border-bottom: 0;
}
.nav-tabs .nav-link {
  background: rgba(0, 0, 0, 0.1) !important;
  color: #e6e6e6;
  border: 0;
  border-radius: 0;
  margin-right: 10px;
  font-size: 20px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  border-bottom: 4px solid #818cf8;
  color: #fff;
}

.filter_search {
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}

.grip_btn {
  background: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.1);
}
.grip_btn:hover {
  cursor: move;
  cursor: grab;
}

label {
  color: #818cf8;
  font-size: 1rem;
}

.form-control,
.form-select {
  background: #222f3e;
  border-color: #222f3e;
  color: #fff;
}
.form-control:focus,
.form-select:focus {
  background: #fff;
  color: #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

[data-clickable_row] {
  cursor: pointer;
}
[data-clickable_row]:hover {
  background: rgba(255, 255, 255, 0.1);
}

.table > :not(caption) > * > * {
  border-color: rgba(255, 255, 255, 0.1);
  border-bottom-width: thin;
  box-shadow: none;
}

thead th {
  border-color: rgba(255, 255, 255, 0.1) !important;
  border-bottom-width: 1px;
}

.content_record_info_card label {
  color: #60a5fa;
  font-size: 1rem;
}
.content_record_info_card * {
  font-size: 1rem;
}

.activity_card .bi-chevron-right {
  color: #818cf8;
}

.bi-x {
  font-size: 1.6rem !important;
}

.records_table_overflow {
  min-width: 500px;
  overflow-x: auto;
  min-height: calc(100vh - 160px);
  scrollbar-color: #818cf8 #000;
  scrollbar-width: thin;
}

.collapsing {
  transition: none !important;
}

[data-bs-toggle=collapse]:hover {
  cursor: pointer;
}

/*.modal{
    padding-left: 0px;
    height:48px !important;
    //background: $secondaryColor !important;
    border-top:12px solid $secondaryColor;
    border-bottom:12px solid $secondaryColor;
    transform: translate(calc(50% + ($sidemenuWidth / 2)), -50%) scale(0.0);
    top: 50%;
    transition: height .2s ease;
    overflow: hidden;
    &:not(.modal_lg_wrapper) {
    max-width: 500px;
    }

    &.modal_lg_wrapper{
        max-width: 800px;
    }
    //width:500px;
    margin: 0 auto !important;
    left: calc(50% + ($sidemenuWidth / 2));
    border-radius: 0;

    transition-delay: .1s,.6s,.1s;
    transition-property: height, background, border;

    .modal-content{
        background: $secondaryColor !important;
        left: 50%;
        transform: translateX(-50%);
    }




    &.show {
        border-color: transparent;
        height: 100% !important;
        background: transparent !important;
        transform: translate(-50%, -50%) scale(1);
        .modal-content{
            background: $bodyBG !important;
        }
    }
}*/
td {
  vertical-align: middle;
}

.reference_field_record {
  background: #222f3e;
}

/*# sourceMappingURL=main.css.map */
